#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.num-square {
    width: 5vh;
    height: 5vh;
    outline: solid;
    text-align: center;
    vertical-align: middle;
    line-height: 5vh;
}